@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.active {
  background-color: rgba(
    37,
    99,
    235,
    0.1
  ); /* Light blue background with transparency */
  border-radius: 0.375rem; /* Rounded corners */
  padding: 5px; /* Padding */
  color: #2563eb; /* Tailwind blue-600 color */
}

.leaflet-routing-container {
  background: white !important; /* Ensures background is white */
  opacity: 1 !important; /* Ensures it's not transparent */
  z-index: 1000; /* Keep it on top of the map */
  width: auto !important; /* Sets width to auto */
  max-width: 200px; /* Maximum width */
  padding: 10px; /* Padding around text */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.leaflet-routing-instructions {
  font-size: 14px; /* Adjust font size */
  color: black; /* Ensures text is readable */
}
